*{
    margin: 0;
    padding: 0;
    font-family:'Microsoft yahei';
}
i{
    font-style:normal;
}
b{
    font-weight:normal;
}
li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
body{
    background: #f1f1f1;
}
input[type = "text"]{
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
}
.layui-input-block{
    margin-left: 0;
}
#opage {
    font-family:'Microsoft yahei'!important;
}
#supervise{
    padding: 0px 25px 65px 25px;
    background-color: #ffffff;
    margin: 15px;
}
.layui-laydate-header{
    border-radius: 2px 2px 0px 0px;
}

.head-top{
    position: relative;
    height: 40px;
    padding: 14px 4px 4px 4px;
    border-bottom: 1px solid #e4e4e4;
}
.head-top span.wzgl{
    float: left;
    width: 135px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 21px;
    margin-left: -5px;
    color: #797979;
    border-bottom: 4px solid #3483fb;
}
.head-top .search{
    float: right;
    width: 310px;
    height: 17px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-indent: 10px;
    border: 1px solid #e4e4e4;
}

input::-webkit-input-placeholder {
    font-size: 12px;
    color: #C9C9C9;
}
input::-moz-placeholder {
    font-size: 12px;
    color: #C9C9C9;
}
input::-ms-input-placeholder  {
    font-size: 12px;
    color: #C9C9C9;
}
.head-top .head-input{
    position: relative;
}
.head-top .head-input button{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 30px;
    border: none;
    background: url("../images/u1234.png")no-repeat center center;
    cursor: pointer;
}
.nav{
    padding: 17px 0 15px 0;
    background-color: #ffffff;
    z-index: 19;
}

.nav ul.nav-time{
    margin-top: 23px;
}
.nav ul.nav-cloumn li{
    float: left;
}
.nav a{
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 85px;
    height: 34px;
    line-height: 34px;
    color: #aeaeae;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}
.nav a.current{
    background-color: #3483fb;
    color: #ffffff!important;

}
.nav ul li .nav-a{
    background-color: #3483fb;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.nav .layui-nav-child{

    text-align: center;
    width: 100px;
    min-width: 100px;
    top: 45px;
    transition:.5s;
    animation-iteration-count:1;
    animation:mymove 1s;
    -webkit-animation:mymove 1s; /*Safari and Chrome*/
    animation-fill-mode:forwards;
    /*animation-direction:alternate;*/
    /*-webkit-animation-direction:alternate; !* Safari 和 Chrome *!*/
}
.nav .layui-nav-child span{
    cursor: pointer;
}
@keyframes mymove
{
    from {top: 45px;}
    to {top: 25px;}
}

.nav .fenlei{
    position: relative;
}
.nav .fenlei:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    right: 1px;
    top: 5px;
    background:url("../images/u925.png")no-repeat center center;
    background-size: 12px auto;
    transition:.3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition:.3s;
    cursor: pointer;

}
.nav .fenlei:hover:before{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nav .fenlei:hover .layui-nav-child{
    display: block;
}
.nav li{
    position: relative;
}
.nav li.current a{
    color: #ffffff;
}

.nav .layui-nav-child dd a{
    color: #333333;
}
.nav .layui-nav-child dd:hover{
    background-color: #dddddd;
}
.nav ul.nav-time li input{
    position: relative;
    height: 35px;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.layui-input, .layui-select, .layui-textarea{
    height: 35px!important;
}
.nav ul.nav-time li{
    margin-right: 10px;
}
.nav ul.nav-time li input{
    background: url("../images/u919.png")no-repeat 95% 5px;
}
.nav-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    /*border-bottom: 1px ;*/
    box-shadow: 4px 4px 8px #eceef5;
}
.main ul li{
    height: 135px;
    /*margin: 10px 0;*/
    padding: 10px 0;
}
.main ul li:first-of-type{
    margin-top: 5px;
}
.main ul li .centent-text{
    height: 100%;
}
.main ul li .pic-left{
    width: 190px;
    height: 100%;
    background: url("../images/u1101.png")no-repeat center center/cover;
}
.main ul li .pic-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main ul li .text-right{
    height: 100%;
    /*text-align: right;*/
    padding-left: 30px;
}
.main ul li .text-right p{
    font-size: 16px;

}
.main ul li .text-right .title_center{
    position: relative;
    margin-top: 25px;
}
.main ul li .text-right p.title{
    width: 70%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden ;
    color: #30323A;
}

.main ul li .text-right p.time,.main ul li .text-right .jianjie,.main ul li .text-right .shuliang,.main ul li .text-right .dataurl a{
    position: relative;
    margin-top: 50px;
    color: #AEAEAE;
    font-size: 12px;
}
.main ul li .text-right .jianjie,.main ul li .text-right .shuliang,.dataurl,p.label{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden ;
}
.main ul li .text-right p.dataurl{
    margin-top: 20px;
    font-size: 12px;
    color: #3483fb;
}
.main ul li .text-right p.dataurl a:hover{
    color: #3483fb;
}
.main ul li .text-right p.label{
    margin-top: 20px;
    padding: 2px 0;
}
.main ul li .text-right p.label span{
    display: inline-block;
    padding: 0 15px;
    line-height: 25px;
    margin-right: 10px;
    font-size: 13px;
    border: 1px solid #f3f3f3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #AEAEAE;
    background-color: #f3f3f3;
    cursor: pointer;
}
.main ul li .text-right p.label span:hover{
    border: 1px solid #AEAEAE;
    background-color: #ffffff;
}
.main ul li .text-right span.release-btn{
    position: absolute;
    padding: 3px 15px;
    top: 0px;
    left: 71%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
}
/*.main ul li.recovery .icon-xiugai,.main ul li.recovery button.modify-file,.main ul li.release .icon-zhidingmian,.main ul li.release button.placement-file,.main ul li.pending .icon-zhidingmian,.main ul li.pending button.placement-file,.main ul li.draft .icon-zhidingmian,.main ul li.draft button.placement-file{*/
    /*color: #d1d1d1;*/
/*}*/
.main ul li .modify-button .prohibit{
    color: #d1d1d1;
}
.main ul li .text-right span.release{
    background-color: #eff5ff;
    color: #3c98f9;
}

.main ul li .text-right span.pending{
    /*border: 1px solid #ff9966;*/
    color: #ff9966;
    background-color: #fff8ed;
}
.main ul li .refuse{
    position: absolute;
    top: 0px;
    left: 71%;
    white-space:nowrap;
}
.main ul li span.draft{
    font-size: 12px;
    padding: 3px 10px;
    color: #f82b28;
    background-color: #fff3f3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: 10px;
}

.main ul li .text-right span.recovery{
    color: #3cc;
    background-color: #e9fffd;
}
.main ul li.fail .text-right span.release-btn{
    border: 1px solid #FF0000;
    background-color: #ff9966;
}
.main ul li .text-right span.oremover{
    color: #9a9898;
    background-color: #f5f5f5;
}
.main ul li .modify-button{
    margin:10px 35px 0 0;
}
.main ul li .modify-button p{
    position: relative;
    margin-top: 15px;
    font-size: 12px;
}
.main ul li .modify-button a{
    position: relative;
    border: none;
    background: #ffffff;
    margin-top: 18px;
    color: #a9a9a9;
    font-size: 12px;
    cursor: pointer;
}
.main ul li .modify-button a:hover{
    color: #3c98f9;
}
.icon-chakan,.icon-xiugai,.icon-shanchu,.icon-zhidingmian{
    position: absolute;
    color: #a9a9a9;
}
.icon-chakan,.icon-zhidingmian{
    top: 1px;
    left: -27px;
    font-size: 15px;
}
.icon-xiugai{
    left: -25px;
    top: 0px;
    font-size: 15px;
}
.icon-shanchu{
    top: 0px;
    left: -27px;
    font-size: 16px;
}

.layui-form-select dl dd.layui-this{
    background-color: #3483fb;
}
.layui-form-select dl dd:hover {
    background-color: #3483fb;
    color: #ffffff;
    transition: 0s;
}
.layui-card-body {
    position: relative;
    padding: 10px 15px;
    line-height: 24px;
}
.layui-btn {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 13px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.layui-show-xs-block input{
    height: 35px;
    width: 260px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.main ul li:hover{
    background-color: #fbfbfb;
}
.layui-laypage a:hover{
    color: #3483fb;
}
.layui-laydate-header{
    padding: 5px 70px 5px!important;
}
.layui-laydate-header i{
    top: 5px!important;
}
.laydate-theme-grid .laydate-month-list>li, .laydate-theme-grid .laydate-year-list>li, .laydate-theme-grid .layui-laydate-content td, .laydate-theme-grid .layui-laydate-content thead, .laydate-theme-molv .layui-laydate-footer{
    border: 1px solid #dddddd!important;
}
.layui-input:hover, .layui-textarea:hover{
    border-color: #78aeff!important;
}

.laydate-theme-molv .layui-laydate-header{
    background-color: #ffffff!important;
    border: 1px solid #e2e2e2!important;
}
.laydate-theme-molv .layui-laydate-header span,.laydate-theme-molv .layui-laydate-header i{
    color: #666!important;
}
.layui-laydate{
    font-family:'Microsoft yahei'!important;
    font-size: 12px!important;
}
.layui-laydate, .layui-laydate-hint{
    box-shadow: 0px 0px 8px rgba(0,0,0,.12)!important;
}
.layui-laydate-footer {
    border-radius: 0 0 3px 3px;
}
.head-top .layui-show-xs-block .layui-input:hover{
    border-color: #d6d6d6!important;
}
.layui-laypage a, .layui-laypage span{
    padding: 0 13px!important;
}
.layui-form-select .layui-input,.layui-form-select dl dd, .layui-form-select dl dt{
    font-size: 12px;
}